[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "nvim/lua/buffer-nexus"]
	path = nvim/lua/buffer-nexus
	url = git@github.com:ruiheng/buffer-nexus.git
[submodule "nvim/jinja-mixed"]
	path = nvim/jinja-mixed
	url = git@github.com:ruiheng/jinja-mixed.git
