layout {
    background-color "transparent"

    focus-ring {
        active-color   "#3c6090"
        inactive-color "#74777f"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#3c6090"
        inactive-color "#74777f"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#3c6090"
        inactive-color "#74777f"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#3c609080"
    }
}

/-recent-windows {
    highlight {
        active-color   "#224876"
        urgent-color   "#ba1a1a"
    }
}